name: "release"

on:
    push:
        tags:
            - "*"

jobs:
    release:
        runs-on: "ubuntu-latest"

        steps:
            - uses: actions/checkout@v4
            - uses: "marvinpinto/action-automatic-releases@latest"
              with:
                  repo_token: "${{ secrets.PAT }}"
                  prerelease: false
